.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  background-color: rgba(100, 100, 100, 0.8);
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 15pt;
}
