.App {
  background: url("./assets/img/background.jpg");
  text-align: center;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding-bottom: 100px;
  padding-top: 100px;
}
